
#myInput {
    background-image: url('/css/searchicon.png'); /* Add a search icon to input */
    background-position: 10px 12px; /* Position the search icon */
    background-repeat: no-repeat; /* Do not repeat the icon image */
    width: 100%; /* Full-width */
    font-size: 16px; /* Increase font-size */
    padding: 12px 20px 12px 40px; /* Add some padding */
    border: 1px solid #ddd; /* Add a grey border */
    margin-bottom: 12px; /* Add some space below the input */
  }

#myUL{
      list-style-type: none;
  }

.wrapper{
    display: inline-grid;
    grid-template-columns: auto auto auto auto;
    overflow-x: hidden;
    height: 920px;
}

.btn {
    margin: 0 50px 0 10px;
    padding: 10px 0 0 0;
    height: 220px;
    width: 200px;
}

.btn img{
    height: 133px;
    width: 190.19px;
}

.btn a{
    text-decoration: none;
    display: inline-block;
    text-align: center;
    font-size: x-large;
    font-family: Arial, Helvetica, sans-serif;
    color: #007ac2;
}
.btn:hover {
    opacity: .3;
    }

.btn a:hover {
    text-decoration: underline;
    }

